.chrsstro-form-section:after {content: ""; display: table; clear: both;}

#chrssto_info_box {
    padding: 0 10px;
    border: 1px dashed #6aadcc;
    background-color: #FFF;
    margin-top: 10px;
    -webkit-box-shadow: 1px 1px 7px rgba(50, 50, 50, 0.17);
    -moz-box-shadow: 1px 1px 7px rgba(50, 50, 50, 0.17);
    box-shadow: 1px 1px 7px rgba(50, 50, 50, 0.17);
}

.dashicons-chrssto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
    background-image: url("../images/chrssto-favicon.svg");
}
.toplevel_page_theme_options:hover .dashicons-chrssto {background-image: url("../images/chrssto-favicon-hover.svg");}
.toplevel_page_theme_options.current .dashicons-chrssto {background-image: url("../images/chrssto-favicon-active.svg");}

.chrsstro-form-section table,
.chrssto-instructions {padding:20px;margin-bottom:60px;background:#fff;}
.chrsstro-form-section table th,
.chrsstro-form-section table td {padding:20px;}
.chrsstro-form-section label,
.chrsstro-form-section label {font-size:11px;font-style:italic;margin-bottom:3px;}
.chrsstro-form-section textarea,
.chrsstro-form-section input[type=text] {width:98%;max-width:400px;font-size:12px;}

.chrssto-instructions table {width:100%;}
.chrssto-instructions th {width:42%;text-align:left;}
.chrssto-instructions th:first-of-type {width:15%;}
.chrssto-instructions span {display:inline-block;font-size:11px;padding:5px 10px;background:#eaeaea;}

@media (min-width:1000px) {
    .chrssto-col-content {width:78%;float:left;}
    .chrssto-col-sidebar {width:18%;float:right;}
}